<main class="main">
  <!-- <app-contador-component></app-contador-component> -->
  <!-- <app-list-items></app-list-items> -->
  <!--app-form-cadastro></app-form-cadastro-->
  <!--<app-controle-acesso></app-controle-acesso>-->
  <!--app-dados-alunos></app-dados-alunos-->
  <!--app-form-login></app-form-login-->
  <!--app-form-cadastro></app-form-cadastro-->
  <!--app-controle-acesso></app-controle-acesso-->
  <app-componente-pai></app-componente-pai>
  <app-componente-filho></app-componente-filho>
  

</main>

<router-outlet></router-outlet>
